<div>
    <app-page-header [breadcrumbItems]="breadcrumbItems" [buttons]="headerButtons"></app-page-header>

    <div class="w-full max-w-5xl">
        <p-card>
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <div class="flex flex-wrap gap-4 items-center">
                    
                    <div class="flex-auto mb-3">
                        <app-form-input
                            label="Nome"
                            name="nome"
                            [(ngModel)]="Form.nome"
                            [required]="true">
                        </app-form-input>
                    </div>

                    <div class="flex-1 mb-3">
                        <app-form-select
                            label="Situação"
                            name="ativo"
                            [options]="COMISSAO_ATIVA_OPCOES"
                            [(ngModel)]="Form.ativa"
                            [required]="true">
                        </app-form-select>
                    </div>
                </div>

                 <div class="flex flex-wrap gap-4">
                        <div class="flex-1 mb-3">
                           <app-form-input
                                label="Data Início"
                                name="data_inicio"
                                type="datetime-local"
                                [(ngModel)]="Form.data_inicio"
                                [required]="true">
                           </app-form-input>
                       </div>

                       <div class="flex-1 mb-3">
                           <app-form-input
                                label="Data Fim"
                                name="data_fim"
                                type="datetime-local"
                                [(ngModel)]="Form.data_fim">
                           </app-form-input>
                       </div>
                  </div>
                  
                <div class="mt-4">
                    <p-button label="Salvar" type="submit" [loading]="isLoading"></p-button>
                </div>
            </form>
    
            <p-toast />
        </p-card>
    </div>
</div>