<div>
    <app-page-header [breadcrumbItems]="breadcrumbItems" [buttons]="headerButtons"></app-page-header>
    
    <p-card [header]="isEditMode ? 'Editar' : 'Adicionar'">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-2">
            
            <!-- Campo Nome -->
            <div class="p-field flex flex-col mt-4">
                <app-form-input
                 label="Nome da Câmara"
                 name="nome"
                 type="text"
                 [(ngModel)]="formCadastro.nome"
                 [required]="true"
                ></app-form-input>
            </div>

            <!-- Campo Email -->
            <div class="p-field flex flex-col mt-4">
                <app-form-input
                    label="E-mail"
                    name="email"
                    type="email"
                    [(ngModel)]="formCadastro.email"
                    [required]="true"
                ></app-form-input>
            </div>

            <!-- Campo CNPJ com MÁSCARA -->
            <div class="p-field flex flex-col mt-4">
                <app-form-mask
                    label="CNPJ"
                    name="cnpj"
                    mask="99.999.999/9999-99"
                    [(ngModel)]="formCadastro.cnpj"
                    [required]="true"
                ></app-form-mask>
            </div>

             <!-- Campo Telefone com MÁSCARA -->
            <div class="p-field flex flex-col mt-4">
                <app-form-mask
                    label="Telefone"
                    name="telefone"
                    mask="(99) 99999-9999"
                    [(ngModel)]="formCadastro.telefone"
                    [required]="true"
                ></app-form-mask>
            </div>

            <!-- Campo Endereço -->
            <div class="p-field flex flex-col mt-4 md:col-span-2">
                <app-form-input
                    label="Endereço"
                    name="endereco"
                    type="text"
                    [(ngModel)]="formCadastro.endereco"
                    [required]="true"
                ></app-form-input>
            </div>

            <!-- Campo Município -->
            <div class="p-field flex flex-col mt-4">
                <app-form-input
                    label="Município"
                    name="municipio"
                    type="text"
                    [(ngModel)]="formCadastro.municipio"
                    [required]="true"
                ></app-form-input>
            </div>

            <!-- Campo UF -->
            <div class="p-field flex flex-col mt-4">
                <app-form-input
                    label="UF"
                    name="uf"
                    type="text"
                    [(ngModel)]="formCadastro.uf"
                    [required]="true"
                ></app-form-input>
            </div>
            
            <!-- Campo Número de Cadeiras -->
            <div class="p-field flex flex-col mt-4">
                <app-form-input
                    label="Nº de Cadeiras"
                    name="numero_cadeiras"
                    type="number"
                    [(ngModel)]="formCadastro.numero_cadeiras"
                    [required]="true"
                ></app-form-input>
            </div>

            <!-- Botão Salvar/Atualizar -->
            <div class="mt-6 md:col-span-2 flex justify-end">
                <p-button [label]="isEditMode ? 'Atualizar' : 'Salvar'" type="submit" [loading]="isLoading"></p-button>
            </div>
        </form>
    </p-card>
</div>

<!-- O p-toast é crucial para exibir as mensagens de sucesso/erro -->
<p-toast />