<div class="flex items-center justify-center min-h-screen bg-gradient-to-b from-[#eaf0f5] to-white p-4">

  <div class="w-full max-w-sm">

    <div class="text-center mb-12">
      <img src="/images/sisvote.png" alt="Logo SISVOTE" class="mx-auto w-48 mb-2">
      <p class="text-slate-600 text-lg">Sistema de Votação Eletrônica</p>
    </div>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="flex flex-col gap-y-6">

      <p-floatLabel>
        <input 
          pInputText
          id="email"
          name="login"
          type="email" required
          class="w-full"
          [(ngModel)]="formLogin.login"
          #loginModel="ngModel" />
        <label for="email">
          <span class="text-red-500">*</span>E-mail
        </label>
      </p-floatLabel>
      <p-floatLabel>
        <p-password 
          [(ngModel)]="formLogin.password"
          [feedback]="false"
          [toggleMask]="true"
          required
          name="password"
          id="password"
          inputStyleClass="w-full"
          styleClass="w-full"
          #passwordModel="ngModel" />
        <label for="password">
          <span class="text-red-500">*</span>Senha
        </label>
      </p-floatLabel>

      <div class="w-full text-left mt-[-1rem]">
         <p class="text-xs text-gray-500">*Campos obrigatórios</p>
      </div>

      <div class="flex justify-center items-center w-full mt-4">
        <p-button 
          label="Entrar"
          type="submit"
          [loading]="loadingButton"
          styleClass=" w-[10rem] max-w-sm mx-auto justify-center !bg-[#8CC63F] hover:!bg-[#7CB342] !border-none !text-white !font-semibold !py-3 !rounded-md">
        </p-button>
      </div>
    </form>
  </div>
</div>

<p-toast />