<!-- <app-loader *ngIf="usuarioService.isLoading$ | async"></app-loader> -->
<div >
    <app-page-header [breadcrumbItems]="breadcrumbItems" [buttons]="headerButtons"></app-page-header>
    
    <div class="w-full max-w-5xl">
        <p-card>
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <div class="flex flex-wrap gap-4">
                    <div class="flex-1 mb-3">
                        <app-form-input
                            label="Nome"
                            name="nome"
                            type="text"
                            [(ngModel)]="formCadastro.vereador!.nome"
                            [required]="true"
                        ></app-form-input>
                    </div>
                    <div class="flex-1 mb-3">
                        <app-form-input
                            label="Partido"
                            name="partido"
                            type="text"
                            [(ngModel)]="formCadastro.vereador!.partido"
                            [required]="true"
                        ></app-form-input>
                    </div>
                </div>
                 <div class="flex flex-wrap gap-4">
                    <div class="flex-1 mb-3">
                        <app-form-input
                            label="E-mail"
                            name="email"
                            type="text"
                            [(ngModel)]="formCadastro.vereador!.email"
                            [required]="true"
                        ></app-form-input>
                    </div>
                </div>
                 <div class="flex flex-wrap gap-4">
                    <div class="flex-1 mb-3">
                        <app-form-mask
                            label="CPF"
                            name="cpf"
                            type="text"
                            [(ngModel)]="formCadastro.vereador!.cpf"
                            [required]="true"
                            [mask]="'999.999.999-99'"
                            (blurEvent)="BuscarVereador('cpf')"
                        ></app-form-mask>
                    </div>
                    <div class="flex-1 mb-3">
                        <app-form-mask
                            label="Telefone"
                            name="telefone"
                            type="text"
                            [(ngModel)]="formCadastro.vereador!.telefone"
                            [required]="true"
                            [mask]="'(99) 99999-9999'"
                        ></app-form-mask>
                    </div>
                </div>
                <div class="flex flex-wrap gap-4">
                   <div class="flex-1 mb-3">
                        <app-form-select
                            label="Situação"
                            name="ativo"
                            [(ngModel)]="formCadastro.vereador!.ativo"
                            [required]="true"
                            [options]="VEREADOR_ATIVO_OPCOES"
                        ></app-form-select>
                    </div>
                    <div class="flex-1 mb-3">
                        <app-form-select
                         label="Função"
                         name="funcao"
                         [(ngModel)]="formCadastro.funcao"
                         [required]="true"
                         [options]="FUNCOES_NO_MANDATO_OPCOES"
                        ></app-form-select>
                    </div>
                </div>
    
                <div class="mt-4">
                    <p-button label="Salvar" type="submit" ></p-button>
                </div>
            </form>
    
            <p-toast />
        </p-card>
    </div>
</div>