<!-- <app-loader *ngIf="usuarioService.isLoading$ | async"></app-loader> -->
<div >
    <app-page-header [breadcrumbItems]="breadcrumbItems" [buttons]="headerButtons"></app-page-header>
    
    <div class="w-full max-w-5xl">
        <p-card>
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <div class="flex flex-wrap gap-4">
                    <div class="flex-1 mb-3">
                        <app-form-input
                            label="Nome"
                            name="nome"
                            type="text"
                            [(ngModel)]="formCadastro.usuario.nome"
                            [required]="true"
                            [disabled]="isEditingSelf"
                            >
                        </app-form-input>
                    </div>
                    <div class="flex-1 mb-3">
                         <app-form-select
                            label="Situação"
                            name="ativo"
                            [options]="USUARIO_ATIVO_OPCOES"
                            [(ngModel)]="formCadastro.ativo"
                            [required]="true"
                            >
                        </app-form-select>
                    </div>
                </div>
                <div class="flex flex-wrap gap-4">
                    <div class="flex-1 mb-3">
                         <app-form-input
                            label="E-mail"
                            name="email"
                            type="text"
                            [(ngModel)]="formCadastro.usuario.email"
                            [required]="true"
                            (blurEvent)="BuscarUsuario()"
                            [disabled]="isEditingSelf"
                        >
                        </app-form-input>
                    </div>
                    <div class="flex-1 mb-3">
                         <app-form-select
                            label="Papel"
                            name="papel"
                            [options]="PAPEIS_NA_CAMARA_OPCOES"
                            [(ngModel)]="formCadastro.papel"
                            [required]="true">
                        </app-form-select>
                    </div>
                    <div class="flex-1 mb-3">
                         <app-form-select
                            label="Vereadores"
                            name="vereador"
                            [options]="vereadores"
                            optionLabel="nome"
                            optionValue="id"
                            [(ngModel)]="formCadastro.vereador_id"
                            [required]="false">
                        </app-form-select>
                    </div>
                </div>
                <div class="flex flex-wrap gap-4">
                    <div class="flex-1 mb-3 mr-3">
                        <app-form-input
                            label="Senha"
                            name="senha"
                            type="password"
                            [(ngModel)]="formCadastro.usuario.senha"
                            [required]="!isEditMode && !usuarioExiste"
                              [disabled]="isEditingSelf"
                        ></app-form-input>
                    </div>
                    <div class="flex-1 mb-3">
                        <app-form-input
                            label="Confirmar senha"
                            name="confSenha"
                            type="password"
                            [(ngModel)]="formCadastro.usuario.confSenha"
                            [required]="!isEditMode && !usuarioExiste"
                            [disabled]="isEditingSelf"
                        ></app-form-input>
                    </div>
                </div>
    
                <div class="flex-1 mb-3">
                    <label class="font-bold block">Permissões</label>
                    <p-tree [value]="[{ label: 'Selecionar todos' }]" selectionMode="checkbox"
                        styleClass="w-full md:w-[30rem] p-0 ps-2" (onNodeSelect)="nodeSelect($event, true)"
                        (onNodeUnselect)="nodeSelect($event, false)" />
                    <p-tree [value]="permissoes" selectionMode="checkbox" styleClass="w-full md:w-[30rem] pt-0 p-2"
                        [(selection)]="selectedFiles" />
                </div>
    
                <div class="mt-4">
                    <p-button label="Salvar" type="submit" ></p-button>
                </div>
            </form>
    
            <p-toast />
        </p-card>
    </div>
</div>