.bg-color-primary {
    background-color: var(--p-primary-color);
}
.bg-color-light-primary {
    background-color: #f5f6fc;
}

.color-primary {
    color: var(--p-primary-color);
}

.color-secondary { 
    color: var(--p-button-text-secondary-color)
}

hr {
    color: #dedddd
}