/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "primeicons/primeicons.css";

html {
  color-scheme: light;
}

:root {
  --p-primary-color: #36427c;
  --p-primary-hover-color: #2f396b;
  --p-primary-active-color: #2f396b;
  --p-list-option-selected-color: #2f396b;
  --p-list-option-selected-focus-color: #2f396b;
  --p-highlight-color: #2f396b;

  --p-select-option-selected-focus-background: #d1dcfa;
  --p-button-text-primary-hover-background: #eceffd;
  --p-button-text-secondary-hover-background: #f5f6fd;

  --p-muted-color: #F5F5F5;
  --p-muted-bold-color: #E1E1E1;
  --p-black-color-border: #33415580;
  --p-black-color-shadow: #334155;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}