@if(isMenuVisible$ | async){
<div
  class='flex flex-col justify-between bg-white rounded-lg w-65'
  style="height: 90vh">
  <div [class]="this.isMobile ? 'py-6' : 'px-4 py-6'">
    @if(!isMobile){
    <div class="flex justify-center text-xl">
      <div class="flex justify-center">
        <img src="/images/sisvote.png" width="100" alt="">
      </div>
    </div>
    }

    <ul class="mt-6 space-y-1">
      @if (items$ | async; as items) {
        @for (item of items; track item.link) {
          <li>
            <a (click)="navegacao(item.link)" [class]="getClass(item)">
              <span class="text-sm font-medium">
                <i [class]="item.icon + ' text-lg mr-2'"></i>
                {{item.label}}
              </span>
            </a>
          </li>
        }
      }
    </ul>
  </div>
</div>
}